@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: bold;
  src: url(./assets/fonts/Ubuntu-Bold.ttf) format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  src: url(./assets/fonts/Ubuntu-Medium.ttf) format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: url(./assets/fonts/Ubuntu-Regular.ttf) format('truetype');
  font-display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: #f0f6ff;
}

#app {
  height: 37.5rem;
  width: 58.75rem;
}
